<div class="container mb-5">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
        <mat-grid-tile>
            <img src="../../assets/1693731593756.png" alt="ems" width="650px" style="cursor: pointer;" routerLink="/employee">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/coming soon.png" alt="coming soon" width="700px">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/coming soon.png" alt="coming soon" width="700px">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/coming soon.png" alt="coming soon" width="700px">
        </mat-grid-tile>
      </mat-grid-list>
      
    
</div>